.insight-container {
    max-width: 1600px;
    margin: auto;
}

.insight-title {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-weight: 500;
}

.insight-title span:nth-child(1) {
    font-size: 35px;
}
.insight-cards {
    margin: 15px;
}
.insight-cards .ant-card {
    width: 100% !important;
    padding: 20px;
}
.insight-card-one,
.insight-card-two,
.insight-card-three {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: bold;
}
@media only screen and (max-width: 1599px) {
    .insight-card-one,
    .insight-card-two,
    .insight-card-three {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        font-weight: bold;
    }
    .insight-cards-one > div > .ant-card-body,
    .insight-cards-two > div > .ant-card-body,
    .insight-cards-three > div > .ant-card-body {
        padding: 0 !important;
    }
}

.insight-card-one {
    color: blue;
}
.insight-card-two {
    color: #009696;
}
.insight-card-three {
    color: #008eff;
}

.insight-cards-one {
    border-bottom: 15px solid blue;
}
.insight-cards-two {
    border-bottom: 15px solid #009696;
}
.insight-cards-three {
    border-bottom: 15px solid #008eff;
}
